<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>airline</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ro.ds.assignment.two.airline.presentation.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>ro.ds.assignment.two.airline.presentation.user.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocalTimeServlet</display-name>
    <servlet-name>LocalTimeServlet</servlet-name>
    <servlet-class>ro.ds.assignment.two.airline.presentation.user.LocalTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocalTimeServlet</servlet-name>
    <url-pattern>/local-time</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlightServlet</display-name>
    <servlet-name>AddFlightServlet</servlet-name>
    <servlet-class>ro.ds.assignment.two.airline.presentation.admin.AddFlightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlightServlet</servlet-name>
    <url-pattern>/add-flight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExceptionHandler</display-name>
    <servlet-name>ExceptionHandler</servlet-name>
    <servlet-class>ro.ds.assignment.two.airline.presentation.ExceptionHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExceptionHandler</servlet-name>
    <url-pattern>/ExceptionHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomeServlet</display-name>
    <servlet-name>AdminHomeServlet</servlet-name>
    <servlet-class>ro.ds.assignment.two.airline.presentation.admin.AdminHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomeServlet</servlet-name>
    <url-pattern>/admin/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>ro.ds.assignment.two.airline.presentation.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthentificationFilter</display-name>
    <filter-name>AuthentificationFilter</filter-name>
    <filter-class>ro.ds.assignmenet.two.airline.filters.AuthentificationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthentificationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>ro.ds.assignmenet.two.airline.filters.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
</web-app>